
 
  <tr class="task" data-taskid="<%= task.id %>">
    <td><%= task.titel %> </td> 
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= task.projekt_id %></td>
    <td><%= task.tasktype %></td>
    <td><%= task.wichtig %></td>
    <td><%= task.autor %></td>
    <td><%= task.autor2 %></td>
    <td><%= task.assigned_to %></td>
    
    <th></th>
    <th></th>
  </tr>