
<style>
  #tasklist.tasks { padding-top: 0px; }
  .tasks .miniheader { background: #333; color: #ccc; font-size: 7pt;  }
  .tasks tr.minitask:nth-child(odd) { background: #eee; }
  .tasks tr.minitask td { font-size: 11px; }
  .tasks tr.minitask td.prio, .tasks tr.minitask td.titel { font-size: 14px; }
  
  .tasks .head.neu { border-top: 1px solid #01c45c; border-bottom: 2px solid #01c45c;  }
  .tasks .head { border-top: 1px solid #82a292; border-bottom: 2px solid #82a292; __background: white; padding: 4px; font-weight: bold; }
  
  .tasks tr.maxitask, .tasks tr.maxitask td { padding: 0; }
  .tasks tr.task.selected, .tasks .selected div { background: #e8f2fd; }
  .tasks tr.task.selected, .tasks .selected div { background: #ffffff; }
  .tasks .___selected .head { background: #84c0fc; color: #1e49ac; border-color: #6d9ed0; }
  .tasks .comment { font-size: 9pt; padding: 4px; background-color:#fafafa; }
  .tasks .tags { font-size: 7pt; padding: 4px; background-color:#fafafa; }
  .tasks .tags i { vertical-align: middle }
  
  .tasks tr.miditask, .tasks tr.miditask td { padding: 0; }
  .miditask.selected, .tasks .selected div { background-color: #ffffff; }

  .tasks .comment { font-size: 9pt; padding: 4px; background-color:#fafafa; }
  .tasks .tags { font-size: 7pt; padding: 4px; background-color:#fafafa; }
  .tasks .tags i { vertical-align: middle }
  
  tr.miditask .comment,  tr.miditask  .tags,  tr.miditask +tr.details,  tr.miditask +tr.details +.extraspace  { display:none; }
  tr.selected .comment,  tr.selected  .tags,  tr.selected +tr.details,  tr.selected +tr.details +.extraspace  { display:block; }
  tr.selected   { border-top: 4px solid transparent; }
  
  .form-actions { margin:  0px  -20px -10px; background: #dddddd; }
  #editor { overflow: hidden; }
  
  .maxitask strong { color: #488b6a; font-size: 13px; }
  .tasks {min-width:330px; max-width:600px; }
  .toolbar-plus.hidden { background: #333;  display: none; }
  
  .miditask .head   {min-width:350px; max-width:500px; }
  
  .miditask .__head { background: #eeeeee; color: #1e49ac; border-color: #6d9ed0; }
  .miditask .__head { background: #000000; color: #bbbbbb; border-color: #6d9ed0; }
  .miditask .head   { border-top: 0px solid #aaaaaa; border-bottom: 1px solid #aaaacc; padding: 4px;
              font-weight: bold; color: #000000; text-shadow: 0px 1px 1px #fff; }
  .miditask.selected .head { border-top: 2px solid #0000ff; border-bottom: 2px solid #0000ff; } 
   
 .is-done--       {display:none; }
  .is-done--true   {display:inline; }
  .is-star--       {display:none; }
  .is-star--true   {display:inline; }
  .is-autor2--     {display:none; }
  .is-autor2--true {display:inline; }
  .is-status--     {display:none; }
  .is-status--true {display:inline; }
  .is-trash--      {display:none; }
  .is-trash--true  {display:inline; }
  .is-wichtig--      {display:none; }
  .is-wichtig--true  {display:inline; }
  
  .visibility-hidden     {visibility: hidden; }

 
 
  .hidden  {display:none; }
  .toolbars hr { margin-top:5px;  margin-bottom:5px;  }
  
  #myClock {font-size:24px; font-weight: bold; color: #555555; text-shadow: 0px 1px 1px #dddddd; }
  #myDate {font-size:14px; font-weight: bold; color: #888888; text-shadow: 0px 1px 1px #dddddd; }
  #projekttitel {font-size:22px; font-weight: bold; color: #444444; text-shadow: 0px 1px 1px #dddddd; }

  #tasklist .ueberschrift  {
    font-size:20px;
    font-weight: bold;
    color: #555555;
    background:#dddddd;
    diplay:block;
  }

  
</style>

 

<div id="main-toolbar" class="navbar navbar navbar-inverse"
         style="white-space:nowrap; margin-top:65px; margin-top:55px; ">
  <div class="navbar-inner" style="white-space:nowrap; padding-left:0px; padding-right:0px; " >
    <ul class="nav" style="white-space:nowrap; ">
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menü
            <b class="caret"> </b></a>
       <ul class="dropdown-menu">
          <li><a href="/"  target="_self" ><i class="icon-home "></i> Home</a></li>

       <li class="main-element"><a  href="#myModal"  data-toggle="modal">
          <i class="icon-wrench"></i>
          Optionen</a></li>

        <li class="divider"></li>
        <li class="main-element"><a href="<%= tasks_path %>" target="_self" >
           <i class="icon-refresh"></i>
           reload</a></li>
        <li class="divider"></li>
        <li class="main-element"><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
             </li>
        <li class="divider"></li>

        <li><a href="<%= projekts_path %>">Projekte verwalten...</a></li>
          
          <% @my_fav_projekts.each do |p| %>
        <li><a href="#" onclick="setTaskProjektFilter('<%= p.id %>')"><%= p.name %></a></li>
          <% end %>
        </ul>
      </li>

      <li id="main-element-bookmark" class="main-element btn-primary"><a href="#"
           onClick="toggleToolbars('bookmark'); return false;"  >
           <i class="icon-white icon-flag"></i>
           </a></li>
     <li  id="main-element-sort" class="main-element "><a href="#"
           onClick="toggleToolbars('sort'); return false;"  >
           <i class="icon-white icon-list"></i>
           </a></li>
      <li id="main-element-filter" class="main-element"><a href="#"
          onClick="toggleToolbars('filter'); return false;"  >
           <i class="icon-white icon-filter"></i>
           </a></li>

      <li id="main-element-team" class="main-element"><a href="#"
          onClick="toggleToolbars('team'); return false;"  >
           <i class="icon-white icon-user"></i>
           </a></li>
      <li id="main-element-time" class="main-element"><a href="#"
          onClick="toggleToolbars('time'); return false;"  >
           <i class="icon-white icon-time"></i>
           </a></li>
      <li id="main-element-search" class="main-element"><a href="#"
          onClick="toggleToolbars('search'); return false;"  >
           <i class="icon-white icon-search"></i>
           </a></li>
      
      <li class="main-element"><a  href="#myModalHelp"  data-toggle="modal">
          <b> ? </b></a></li>

 
<!-- 
     <li class="main-element"><a  href="#myModal"  data-toggle="modal">
          <i class="icon-white icon-wrench"></i>
          </a></li>
      <li class="main-element"><a href="<%= tasks_path %>" target="_self" >
           <i class="icon-white icon-refresh"></i>
           </a></li>
 //!-->
 
    </ul>
  </div>
</div>






<div id="dyna-toolbar-container" class="toolbars" style="width:100%;" >
<div id="dyna-toolbar-bookmark" class="dyna-toolbar "
        style="white-space:nowrap; padding:0px; margin-top:-20px;background:transparent; ">
  <div style="background:transparent; padding:10px;">
    <b> Bookmarks&nbsp;&nbsp;&nbsp;</b>
    <span id="myDate">01.01.2013</span>

    &nbsp;&nbsp;&nbsp; 
    <a href="<%= tasks_path %>" target="_self" >
           <i class="icon-white icon-refresh"></i>&nbsp;reload
           </a>

    &nbsp;&nbsp;&nbsp; 
    <a  href="#myModal"  data-toggle="modal">
          <i class="icon-white icon-wrench"></i>&nbsp;Optionen
          </a>



   </div>
 
    <div style=" padding:10px;" >
    <button class="btn "  id="tb-bookmark-2" onclick="setTaskProjektFilter(2, this)" > proMan</button>
    <button class="btn "  id="tb-bookmark-9" onclick="setTaskProjektFilter(9, this)" >pm-doku</button>
    <button class="btn "  id="tb-bookmark-7" onclick="setTaskProjektFilter(7, this)" >pinboard</button>
    <button class="btn "  id="tb-bookmark-4" onclick="setTaskProjektFilter(4, this)" > ugb</button>
    <hr>  
    <button class="btn "  id="tb-bookmark-1" onclick="setTaskProjektFilter(1, this)" > teamwiki</button>
    <button class="btn "  id="tb-bookmark-9" onclick="setTaskProjektFilter(10, this)" >ets-data</button>
    <button class="btn "  id="tb-bookmark-3" onclick="setTaskProjektFilter(3, this)" >privat</button>
   <hr>  
    <button class="btn "  id="tb-bookmark-99" onclick="test1()" > test-1      </button>
    <button class="btn "  id="tb-bookmark-98" onclick="test2()" > test-2      </button>
    <button class="btn "  id="tb-bookmark-97" onclick=" editNew() " >test-3 </button>
    <a class="btn      " href="http://proman.wikilab.de/tasks/new" target="_self" ">
         <i class="icon-plus"> </i>&nbsp;(alt)</a>
  </div>
    <br>
      
      
      
   <div class="tasklist-hl--5"
        style= "padding:8px; padding-bottom:10px; height:39px; position:fixed; top:0px; left:0px; width:100%; ">
    <a class="btn btn-warning btn-small " onclick="editNew()" style="margin-top: -12px;" >
       <i class="icon-white icon-plus"> </i>&nbsp;neu</a>
        
    &nbsp;&nbsp;&nbsp;

    <span id="projekttitel">Projekt-Manager</span>
    &nbsp;
    <img id="busy-indicator" class="visibility-hidden" src="http://www.sanbaldo.com/wordpress/wp-content/remembermilk_orange.gif"
         style="margin-top: -12px;">
    &nbsp;
    <span id="myClock">19:01</span>
    <br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <a href="<%= tasks_path %>" target="_self" >
           <i class="icon-white icon-refresh"></i>&nbsp;reload
           </a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <a  href="#myModal"  data-toggle="modal">
          <i class="icon-white icon-wrench"></i>&nbsp;Optionen
         </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <a  href="#" onclick="toggleDebug(); return false;"  >
          <i class="icon-white  icon-hand-right"></i>&nbsp;debug
        </a>
  </div>
   
   
</div>

  
<div id="dyna-toolbar-filter" class="dyna-toolbar hidden"
             style="white-space:nowrap; margin-top:-10px; width:99%; ">
  <b> Filter:</b><br>
  <input class="btn" type="button" onclick="test1() " value="vorgemerkt">
  <input class="btn" type="button"  onclick="setTaskProjektFilter(4) " value="von mir">
  <input class="btn" type="button" value="fuer mich">
  <br>
  <a class="btn" href="">- x -</a>
  <a class="btn" href="javascript:setTaskProjektFilter(5) "  > - OK </a>
  <input class="btn" type="button" value="Archiv">
  <input class="btn" type="button" value="Geloescht">
  <br>
  <br>
</div>


<div id="dyna-toolbar-sort" class="dyna-toolbar hidden"
           style="white-space:nowrap; margin-top:-10px; width:99%; ">
  <b> Sort :</b><br>
  <input class="btn" type="button" onclick="setTaskProjektFilter(2) " value="Nach Prioritaet">
  <input class="btn" type="button"  onclick="setTaskProjektFilter(4) " value="Neueste zuerst">
  <input class="btn" type="button" value="Aelteste zuerst">
  <br>
  <br>
</div>

<div id="dyna-toolbar-team" class="dyna-toolbar hidden"
           style="white-space:nowrap; margin-top:-10px; width:99%; ">
  <b> Team / Delegation :</b><br>
  <input class="btn" type="button" onclick="setTaskProjektFilter(2) " value="Nach Prioritaet">
  <input class="btn" type="button"  onclick="setTaskProjektFilter(4) " value="Neueste zuerst">
  <input class="btn" type="button" value="Aelteste zuerst">
  <br>
  <br>
</div>

<div id="dyna-toolbar-time" class="dyna-toolbar hidden"
           style="white-space:nowrap; margin-top:-10px; width:99%; ">
  <b> Timing / Termine :</b><br>
  <input class="btn" type="button" onclick="setTaskProjektFilter(2) " value="Nach Prioritaet">
  <input class="btn" type="button"  onclick="setTaskProjektFilter(4) " value="Neueste zuerst">
  <input class="btn" type="button" value="Aelteste zuerst">
  <br>
  <br>
</div>

<div id="dyna-toolbar-search" class="dyna-toolbar hidden"
           style="white-space:nowrap; margin-top:-10px; width:99%; ">
  <b> Suchen / Tag-Wolke :</b><br>
  <input class="btn" type="button" onclick="setTaskProjektFilter(2) " value="Nach Prioritaet">
  <input class="btn" type="button"  onclick="setTaskProjektFilter(4) " value="Neueste zuerst">
  <input class="btn" type="button" value="Aelteste zuerst">
  <br>
  <div style="background: #aaaaaa; height:250px; margin:11px;"> ...platz für die tag-wolke
    
  </div>
  <br>
</div>



</div>

 
  
<!-- <h1>Listing tasks</h1>     //!-->
<div class="row" style="margin-top:-10px; ">
  <div id="tasklist" class="span6">
    <table class="tasks">
    </table>
    <br />
  </div>
 
  
<!-- Button to trigger modal 
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
   
    <!-- Modal -->
    <div id="myModal" class="modal hide fade center" tabindex="-1"
         style="width:85%; min-width:300px; max-width:600px; margin:10px 0 0 10px; left:5%; top:0%; "
           role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">...</button>
      <h3 id="myModalLabel">Optionen </h3>
      </div>
      <div class="modal-body" style="max-height:200px; " >
      
    <div class="btn-group" data-toggle="buttons-radio">
     <button type="button" class="btn btn-primary">mini</button>
      <button type="button" class="btn btn-primary">midi</button>
     <button type="button" class="btn btn-primary">maxi</button>
    </div>
          
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ansicht <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="setTaskTemplate('mini')">Mini</a></li>
          <li><a href="#" onclick="setTaskTemplate('midi')">Midi (3 Zeilen)</a></li>
          <li><a href="#" onclick="setTaskTemplate('maxi')">Maxi</a></li>
        </ul>
      </li>
    <p> ...ich finde so ein <b>modales fenster</b> fast besser wie die dropDownMenues, vor allem wenn sie bei touch nicht ordentlich funktionieren</p>
      <p>...</p>
      <p>Als erstes kommt die umschaltung einspaltig - zweispaltig fuer landscape und portrait</p>
      <p>...</p>
      <p>theoretisch koennte man auch die Ansicht da rein nehmen ???</p>
      <p></p>
      <p>und ein kleines Bild waere auch nicht schlecht</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
      </div>
      <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
      </div>
   </div>
   
    <!-- Modal -->
    <div id="myModalHelp" class="modal hide fade center" tabindex="-1"
         style="width:85%; min-width:300px; max-width:600px; margin:10px 0 0 10px; left:5%; top:0%; "
           role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">...</button>
      <h3 id="myModalLabel">H i l f e </h3>
      </div>
      <div class="modal-body" style="max-height:200px; " >
      
      <p> ...ich finde so ein <b>modales fenster</b> fast besser wie die dropDownMenues, vor allem wenn sie bei touch nicht ordentlich funktionieren</p>
      <p>...</p>
      <p>Als erstes kommt die umschaltung einspaltig - zweispaltig fuer landscape und portrait</p>
      <p>...</p>
      <p>theoretisch koennte man auch die Ansicht da rein nehmen ???</p>
      <p></p>
      <p>und ein kleines Bild waere auch nicht schlecht</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
    
      </div>
      <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
      </div>
   </div>
   
   
   

    
  <div class="span6 hidden-phone" style=""  >
      <div class="well" id="editor" style="max-width:360px" >

    <div id="tb-editor-edit" class="tasklist-hl--5" style= "padding:8px; padding-bottom:4px;">
    <button class="btn pull-right" onclick="createLink('+myTaskId+')">
            <i class=" icon-time">         </i> Termin</button>
    <button class="btn pull-right" onclick="createLink('+myTaskId+')">
            <i class=" icon-share">         </i> Link </button>

       Eindat: 4563564
       <br>
       Änddat: 4523452345
    </div>
    
    <div id="tb-editor-onNew" class="btn-primary hidden" style= "padding:8px; padding-bottom:4px;">
    <button class="btn pull-right" onclick="createLink('+myTaskId+')">
            <i class=" icon-time">         </i> Termin </button>

       Neue Aufgabe erstellen...
       <br>
       ...oder neuen Termin erstellen
    </div>
    
    
    id=53454235
    <div class="input-prepend">
          <span class="add-on"><i class="icon-text-width"></i></span>
          <input type="text" style="font-weight:bold; width:320px; color:#444; "
                 id="inputTitle" class="input-xlarge">
      </div>

    <div class="row-fluid">
      <div class="span4">         
        <div class = "control-label"> Projekt </div>
        <div class="controls"><input type="number" id="inputProjekt_id"  style="width:100px; " class="input-medium"></div>
      </div>
     <div class="span4">
        <div class = "control-label"> Kat(wichtig)</div>
        <div class="controls"><input type="text" id="inputWichtig"  style="width:100px; " class="input-medium"></div>
      </div>
      <div class="span4">
        <div class = "control-label"> Status </div>
        <div class="controls"><input type="text" id="inputStatus"  style="width:100px; "class="input-medium"></div>
      </div>
    </div>  
 
   <div class="row-fluid">
      <div class="span4">
        <div class = "control-label"> Priorität </div>
        <div class="controls"><input type="number" id="inputPriority" style="width:100px; " class="input-medium"></div>
       </div>        
      <div class="span4">
       <div class = "control-label"> Task-Type </div>
        <div class="controls"><input type="text" id="inputTasktype"  style="width:100px; "class="input-medium"></div>
      </div>        
      <div class="span4">
         <div class = "control-label"> Team(Autor2) </div>
         <div class="controls"><input type="text" id="inputAutor2" style="width:100px;" class="input-medium"></div>
      </div>        
    </div>  



 
    <div class="input-prepend">
       <span class="add-on"><i class="icon-tags"></i></span>
       <input type="text" id="inputTags" class="input-xlarge" style="width:320px">
    </div>
      
    <div class="form-actions" style="padding-top:7px; padding-bottom:7px; ">
        <button class="btn btn-primary save"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;OK&nbsp; </button>
        <button class="btn  nextbutton"><i class="icon-ok"></i>&nbsp;WEITER </button>
        <button class="btn btn-warning  pull-right cancelbutton"> Abbruch</button>
     </div>
    <br>
      
      <textarea type="text" id="inputComment" style="width:350px" rows=6></textarea>
      <button class="btn star"><i class=" icon-plus "></i> Breite</button>
      <button class="btn star"><i class=" icon-minus "></i> </button>
      <button class="btn star pull-right"><i class=" icon-minus "></i> </button>
      <button class="btn star pull-right"><i class=" icon-plus "></i> Hoehe </button>
       
      <br>
     

       
        
    <div class="row-fluid">
      <div class="span6">
       <div class = "control-label"> Autor </div>
       <div class="controls"><input type="text" id="inputAutor" class="input-medium"></div>
    </div>
   
      <div class="span6">
        <div class = "control-label"> Assigned_to </div>
        <div class="controls"><input type="text" id="inputAssigned_to" class="input-medium"></div>
      </div>
   </div> 
        
      <div class="form-actions" style="padding-top:7px; padding-bottom:7px; ">
        <button class="btn btn-primary save"><i class="icon-ok icon-white"></i>&nbsp;OK </button>
        <button class="btn  nextbutton"><i class="icon-ok "></i>&nbsp;WEITER </button>
        <button class="btn btn-danger pull-right gotrash"><i class="icon-white icon-trash"></i></button>
        <button class="btn btn-warning  pull-right cancelbutton"> Abbruch.</button>
      </div>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>

      
        
    </div>
  </div>
</div>
    <!-- <%= link_to 'New Task', new_task_path %> //!-->
       <!-- <a href="/tasks/85" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a> //!-->
<br>
<br>

