xxx



     <br>
      <div class="control-group">
       <%= f.label :projekt_id, :class=>"control-label"%>
       <div class="controls"><%= f.number_field :projekt_id %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :tasktype, :class=>"control-label"%>
       <div class="controls"><%= f.text_field :tasktype %></div>
      </div>
   
      <div class="control-group">
       <%= f.label :status, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :status %></div>
      </div>
    
    
      <div class="control-group">
       <%= f.label :wichtig, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :wichtig %></div>
      </div>
    
      <div class="control-group">
       <%= f.label :autor, :class=>"control-label" %>
       <div class="controls"><%= f.number_field :autor %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :autor2, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :autor2 %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :assigned_to, :class=>"control-label" %>
       <div class="controls"><%= f.number_field :assigned_to %></div>
      </div>

