xxx


       <span class="badge badge-warning   "> <i class=" icon-white icon-hand-right "> </i> </span>
       <span class="badge                pull-right "> <i class=" icon-white icon-star"></i> </span>














       <span class="badge badge-warning   "> <i class=" icon-white icon-hand-right "> </i></span></span>

       <span class="badge badge-success             "> <i class=" icon-white icon-ok ">   </i></span>

       <span class="badge                pull-right "> <i class=" icon-white icon-star">  </i></span>
       <span class="badge badge-warning  pull-right "> <i class=" icon-white icon-hand-left "> </i></span>
       <span class="badge badge-info     pull-right "> <i class=" icon-white icon-flag "> </i></span>
       <span class="badge badge-important  pull-right "> <i class=" icon-white icon-exclamation-sign "> </i></span>
        <span class="badge badge-inverse  pull-right "> <i class=" icon-white icon-comment "> </i></span>
       <span class="badge badge-inverse  pull-right "> <i class=" icon-white icon-time "> </i></span>





     <br>
      <div class="control-group">
       <%= f.label :projekt_id, :class=>"control-label"%>
       <div class="controls"><%= f.number_field :projekt_id %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :tasktype, :class=>"control-label"%>
       <div class="controls"><%= f.text_field :tasktype %></div>
      </div>
   
      <div class="control-group">
       <%= f.label :status, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :status %></div>
      </div>
    
    
      <div class="control-group">
       <%= f.label :wichtig, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :wichtig %></div>
      </div>
    
      <div class="control-group">
       <%= f.label :autor, :class=>"control-label" %>
       <div class="controls"><%= f.number_field :autor %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :autor2, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :autor2 %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :assigned_to, :class=>"control-label" %>
       <div class="controls"><%= f.number_field :assigned_to %></div>
      </div>

