    $("table.tasks .task").click (e) ->
    # $("table.tasks .task").click = window.onTaskClick
        taskId = $(this).attr "data-taskid"
        isSelected= $(this).hasClass "selected"
        $("p.alert").css("display", "none")
        # if !e.ctrlKey
            # $(".tasks .task.selected").removeClass "selected"
        
        window.editorOnNew = false
        if isTouchDevice
            if isSelected
                if not (e.target.tagName == "A") then editor_show()
             else
                $(".tasks .task.selected").removeClass "selected"
                $(this).addClass "selected"
                # alert(taskId)
        else
            $(".tasks .task.selected").removeClass "selected"
            $(this).addClass "selected"
            editor_show()
        
        # alert(taskId)
        
        # window.location.hash=""
        # insertUrlParam("task",taskId)
        
        # alert("done")

        taskId = $(this).attr "data-taskid"
        toolbar_show(taskId)
        
        
        $.get("/tasks/" + taskId + ".json", (data) ->
            $("#inputTitle").val data.titel
            $("#inputComment").val data.kommentar
            $("#inputTags").val data.tag
            $("#inputPriority").val data.priority
            $("#inputTasktype").val data.tasktype  
            $("#inputStatus").val data.status
            $("#inputWichtig").val data.wichtig   
            $("#inputProjekt_id").val data.projekt_id   
            $("#inputAutor").val data.autor   
            $("#inputAutor2").val data.autor2   
            $("#inputAssigned_to").val data.assigned_to   
        , "json")



xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   $("table.tasks .task").dblclick (e) ->
       window.location = "/tasks/" + $(this).attr("data-taskid") + "/edit"
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx










...teile der alten toolbar:
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="setTaskFilter('all')">Alle anzeigen</a></li>
          <li><a href="#" onclick="setTaskFilter('undone')">Unerledigte</a></li>
          <li><a href="#" onclick="setTaskFilter('undone')">Selbst erstellte</a></li>
          <li><a href="#" onclick="setTaskFilter('undone')">Mir zugeordnete</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="setTaskSort('mini')">Nach Prioritaet</a></li>
          <li class="divider"></li>
          <li><a href="#" onclick="setTaskSort('maxi')">Neueste zuerst</a></li>
          <li><a href="#" onclick="setTaskSort('maxi')">Aelteste zuerst</a></li>
        </ul>
      </li>
<!--       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ansicht <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="setTaskTemplate('mini')">Mini</a></li>
          <li><a href="#" onclick="setTaskTemplate('midi')">Midi (3 Zeilen)</a></li>
          <li><a href="#" onclick="setTaskTemplate('maxi')">Maxi</a></li>
        </ul>
      </li>
 //!-->












       <span class="badge badge-warning   "> <i class=" icon-white icon-hand-right "> </i> </span>
       <span class="badge                pull-right "> <i class=" icon-white icon-star"></i> </span>





       <span class="badge badge-warning   "> <i class=" icon-white icon-hand-right "> </i></span></span>

       <span class="badge badge-success             "> <i class=" icon-white icon-ok ">   </i></span>

       <span class="badge                pull-right "> <i class=" icon-white icon-star">  </i></span>
       <span class="badge badge-warning  pull-right "> <i class=" icon-white icon-hand-left "> </i></span>
       <span class="badge badge-info     pull-right "> <i class=" icon-white icon-flag "> </i></span>
       <span class="badge badge-important  pull-right "> <i class=" icon-white icon-exclamation-sign "> </i></span>
        <span class="badge badge-inverse  pull-right "> <i class=" icon-white icon-comment "> </i></span>
       <span class="badge badge-inverse  pull-right "> <i class=" icon-white icon-time "> </i></span>





     <br>
      <div class="control-group">
       <%= f.label :projekt_id, :class=>"control-label"%>
       <div class="controls"><%= f.number_field :projekt_id %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :tasktype, :class=>"control-label"%>
       <div class="controls"><%= f.text_field :tasktype %></div>
      </div>
   
      <div class="control-group">
       <%= f.label :status, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :status %></div>
      </div>
    
    
      <div class="control-group">
       <%= f.label :wichtig, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :wichtig %></div>
      </div>
    
      <div class="control-group">
       <%= f.label :autor, :class=>"control-label" %>
       <div class="controls"><%= f.number_field :autor %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :autor2, :class=>"control-label" %>
       <div class="controls"><%= f.text_field :autor2 %></div>
      </div>
      
      <div class="control-group">
       <%= f.label :assigned_to, :class=>"control-label" %>
       <div class="controls"><%= f.number_field :assigned_to %></div>
      </div>

