<!DOCTYPE html>
<html>
<head>
  <title>Proman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:#eeeeee; ">
  
  <!--  navbar     
  <div class="navbar navbar-fixed-bottom  navbar-inverse"  >
    <div class="navbar-inner" >
      < !--  <a class="brand" href="#">Title</a>  // ! -- >  
      <div class="container">
        <a href="<%= new_task_path %>" target="_self" class="btn btn-success pull-left"><i class="icon-plus icon-white"></i></a>
        <ul class="nav">
          <li class="notouch-only"><a href="/"  target="_self" ><i class="icon-home icon-white"></i> Home</a></li>
          <li class="notouch-only"><a href="<%= tasks_path %>"  target="_self" ><i class="icon-refresh icon-white"></i> Reload</a></li>
          <li class="notouch-only dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projekte <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= projekts_path %>">Projekte verwalten...</a></li>
              <li class="divider"></li>
              <% @my_fav_projekts.each do |p| %>
              <li><a href="#" onclick="setTaskProjektFilter('<%= p.id %>')"><%= p.name %></a></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="setTaskFilter('all')">Alle anzeigen</a></li>
              <li><a href="#" onclick="setTaskFilter('undone')">Unerledigte</a></li>
              <li><a href="#" onclick="setTaskFilter('undone')">Selbst erstellte</a></li>
              <li><a href="#" onclick="setTaskFilter('undone')">Mir zugeordnete</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="setTaskSort('mini')">Nach Priorität</a></li>
              <li class="divider"></li>
              <li><a href="#" onclick="setTaskSort('maxi')">Neueste zuerst</a></li>
              <li><a href="#" onclick="setTaskSort('maxi')">Älteste zuerst</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ansicht <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="setTaskTemplate('mini')">Mini</a></li>
              <li><a href="#" onclick="setTaskTemplate('midi')">Midi (3 Zeilen)</a></li>
              <li><a href="#" onclick="setTaskTemplate('maxi')">Maxi</a></li>
            </ul>
          </li>
          <li class="notouch-only"><a href="/options">Optionen</a></li>
        </ul>
      </div>
    </div>
  </div>
  //!-->   
      
  <div class=container>
  <%= yield %>
  </div>
</body>
</html>
